$fuenteHeading: 'Baloo 2', sans-serif;
$fuenteParrafos: 'Open Sans', sans-serif;

// Colores
$blanco:#ffffff;
$oscuro:#212121;
$primariofondo:#fff6e9;
$titulo:#540216;
$subtitulo:#bfa37c;

// Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;